<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{  movie.title }}</title>
    {% load static %}
</head>
<body>
{% block content %}
    <h3>Título: {{ movie.title }}</h3>
    <h3>Descrição: {{ movie.description }}</h3>
    <h3>Ano: {{ movie.year }}</h3>
    <h3>Duração: {{ movie.duration }}</h3>
    <h3>Género: {{ movie.genre }}</h3>
    <h3>Rating: {{ movie.rating }}</h3>
    <h3>Número de likes: {{ movie.likes }}</h3>
    <img src="{% static movie.photo %}" alt="{{ movie.title }}" />
{% endblock %}

<form action="{% url 'movies:movie_list'  %}" method="get">
    <input type="submit" value="Voltar à página principal" style="margin-top: 10px;" id="back">
</form>
</body>
</html>