<html>

<head>
    <title>App de filmes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>

<style>
    th{
        max-width: 100px;
        text-align: center;
    }
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    </style>
</head>
<body>
    <div id="shell">
        <div id="header">
            <h1 id="logo"> <a href = "facebook.com"> Cinemateca</a> </h1>
            <div class = "social"> <span> SEGUE-NOS EM: </span></div>
        </div>
    </div>
</body>
    <h2>Movie Table</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-light" data-file-width="5px">
            <tr>
                <th scope="col">MovieID</th>
                <th scope="col">Year</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Duration (min)</th>
                <th scope="col">Movie Type</th>
                <th scope="col">Rating</th>
                <th scope="col">Likes</th>

            </tr>
        </thead>
        {% for movie in movies %}
        <tr>
            <th scope="row"> {{ movie.movieid }}</th>
            <td> {{ movie.year }}</td>
            <td> {{ movie.title }}</td>
            <td> {{ movie.description }}</td>
            <td align="center"> {{ movie.duration }}</td>
            <td> {{ movie.genres }}</td>
            <td align="center"> {{ movie.rating }}</td>
            <td align="center"> {{ movie.likes }}</td>

        </tr>
        {% endfor %}
    </table>
</html>